h2 {
    text-align:center;
    font-size: 26px;
    font-family: 'Times New Roman', sans-serif;
}
body {background-image: url("http://doctorcatmd.com/images/wallpapers/spring_16x9.jpg");background-size: cover;
}


h1 {
    color: blue;
    text-align:center;
    font-size: 65px;
    font-family:"Arial";

}

 h3 {
    text-align:center;
    /*color: ;*/
    font-family:'Frosty';
 }
 
 .container {
     background-color:#cbeee7;
     border-radius: 5px;
 }

.animal {
    background-color: #1CABB0;
    height: 50px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    
}
Doge {
    text-align:center;
}
font d {
    font-size: 65px;
}